= form_for(@patient_queue) do |f|
  - if @patient_queue.errors.any?
    #error_explanation
      %h2
        = pluralize(@patient_queue.errors.count, "error")
        prohibited this patient_queue from being saved:
      %ul
        - @patient_queue.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
