%p.lead= @date.strftime("%A, %d %b %Y %H:%M")
- if @patient_queues.empty?
  %tr 
    %td{:colspan => 6, :align => "center"}
      %font{:color => "red"} You have no patient for this schedule
- else 
  %table.table.table-striped 
    %tbody
      - @patient_queues.each do |patient_queue|
        %tr
          %td= patient_queue.queue_number
          %td= patient_queue.patient.name
          %td
            = link_to content_tag(:i, nil, class: 'fa fa-check'), queue_path, method: :delete, data: { confirm: 'Are you sure?' }
            - concat " | "
            = link_to content_tag(:i, nil, class: 'fa fa-remove'), queue_path, method: :delete, data: { confirm: 'Are you sure?' }