%h1 Bukti Antrean
.panel.panel-primary
  .panel-heading
    %h3.panel-title Dokter
  .panel-body
    .row
      .col-xs-6.col-sm-6.col-md-6
        %p= l(@patient_queue.schedule_child.start_time, format: :long) + " - " + l(@patient_queue.schedule_child.end_time, format: :long)
        %p= @patient_queue.schedule_child.doctor.full_name
        %p= @patient_queue.schedule_child.doctor.field.name
      .col-xs-6.col-sm-6.col-md-6
        %p= @patient_queue.schedule_child.title
        %p= @patient_queue.schedule_child.location.street
        %p= @patient_queue.schedule_child.location.phone
.panel.panel-primary
  .panel-heading
    %h3.panel-title Pasien
  .panel-body
    .row
      .col-xs-3.col-sm-3.col-md-3
        = image_tag current_user.avatar.url(:thumb)
      .col-xs-5.col-sm-5.col-md-5
        %p= @patient_queue.patient.name
        %p= @patient_queue.patient.address
        %p= @patient_queue.patient.phone
      .col-xs-4.col-sm-4.col-md-4
        %h2
          Nomor antrean
          %p= @patient_queue.queue_number

.text-center
  = link_to "Cetak", '#', {class: 'btn btn-default', onclick: "window.print()"}
  = link_to "Unduh", '#', {class: 'btn btn-default'}