#mini-calendar

:coffee
  $(document).ready ->
    $('#mini-calendar').fullCalendar
      events: '#{path_to_doctor_schedule(@doctor)}.json'
      height: "auto"
      eventBackgroundColor: "#27ae60"
      header:
        left: "prev"
        center: "title"
        right: "next"
      eventClick: (event, jsEvent, view) ->
        $("#schedules").load "#{dashboard_schedule_data_path(@doctor)}.js?date="+event.id
