= simple_form_for @schedule, :url => dashboard_schedules_create_path do |f|
  = f.input :title 
  = f.input :start_date, as: :date_picker
  = f.input :start_time, as: :time_picker
  = f.input :end_time, as: :time_picker
  = f.input :repeat_freq, collection: Schedule.repeat_freqs.map { |k, v| [k.humanize, k] }, :selected => :never, :label => "Repeat"
  = f.input :location_id, collection: Location.where("doctor_id = ?", current_user.id)
  = f.input :limit
  = f.input :note, as: :text
  .col-sm-offset-3.col-sm-10
    = f.button :submit, "Submit!", input_html: { class: 'btn btn-primary' }
