.panel.panel-primary{id: "detail-#{schedule.id}"}
  .panel-body
    .row
      .col-xs-9.col-sm-6.col-md-6
        %p= schedule.title
        %p= schedule.start_time.strftime("%A, %e %b %Y") 
        %p= schedule.start_time.strftime("%H:%M:%S") + " - " + schedule.end_time.strftime("%H:%M:%S")
        %p= schedule.location.name + ", " + schedule.location.street
        %p= schedule.location.regency.name + ", " + schedule.location.province.name
        %p{:id => "#{schedule.id}"}
          = button_to "Ubah", dashboard_path(schedule.id), "class" => "btn btn-primary btn-sm", :method => 'get'
          %br
          %a.status_link.btn.btn-danger.btn-sm{"data-href" => set_schedule_status_path(id: schedule.id), :style => "#{schedule.is_away ? '' : 'display: none'}", :id => "#{schedule.id}"}
            %i.fa.fa-times
            %span Away
          %a.status_link.btn.btn-success.btn-sm{"data-href" => set_schedule_status_path(id: schedule.id), :style => "#{schedule.is_away ? 'display: none' : '' }", :id => "#{schedule.id}"}
            %i.fa.fa-check-square-o 
            %span Available
      .col-xs-3.col-md-3
        %p= "Batas antrian: " + schedule.limit.to_s
        %p= "Jumlah antrian: " + schedule.patient_queues.count.to_s
      .col-xs-3.col-md-3
        = button_to "Antrean", queue_path(id: schedule.id), "class" => "btn btn-primary", method: :get
        %br
        %a.open_link.btn.btn-danger{"data-href" => set_schedule_open_path(id: schedule.id), :style => "#{schedule.open ? '' : 'display: none'}", :id => "#{schedule.id}"}
          %i.fa.fa-times
          %span Tutup
        %a.open_link.btn.btn-success{"data-href" => set_schedule_open_path(id: schedule.id), :style => "#{schedule.open ? 'display: none' : '' }", :id => "#{schedule.id}"}
          %i.fa.fa-check-square-o 
          %span Buka

        

