.panel.panel-primary{id: "schedule-#{schedule.id}"}
  .panel-body
    .row
      .col-xs-9.col-sm-6.col-md-9
        %p= schedule.title
        %p= schedule.start_time.strftime("%A, %e %b %Y | %H:%M:%S") + " - " + schedule.end_time.strftime("%H:%M:%S")
        %p= schedule.location.name + ", " + schedule.location.street
      .col-xs-3.col-md-3
        
:coffee
  $(document).ready ->
    $("#schedule-#{schedule.id}").click (e) ->
      $("#schedule_details").html("#{ escape_javascript render(:partial => 'schedules/shared/schedule_detail', :locals =>{ :schedule => schedule } )}") 
      return
    
     