= render partial: 'schedules/shared/schedule', collection: @doctor.schedule_children.starts_on(@date)
- if @doctor.schedule_children.empty?
  .alert.alert-warning{ :role => "alert"}
    = t(:empty_data, resource: t(:schedules))