%h2 List of Patients
.table
  - @i = 0
  %table.table.table-striped
    %thead
      %tr
        %th No
        %th Name
        %th Phone
    %tbody
      = render :partial => 'schedule_children/shared/list'  
  %br/
  
  = link_to content_tag(:i, nil, class: 'fa fa-pencil-square-o'), edit_event_path(params[:id])
  or
  = link_to content_tag(:i, nil, class: 'fa fa-remove'), delete_event_path(params[:id]), method: :delete,  data: { confirm: 'Are you sure? This will delete all related schedules' }