
.row
  .col-md-6.col-md-offset-3
    .well
      %h2{:align => "left"}
        = t(:signin)
      %hr
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.input :email, placeholder: User.human_attribute_name(:email), autofocus: true
        = f.input :password, placeholder: User.human_attribute_name(:password), :class => "col-sm-2 control-label"
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean
        .col-sm-offset-3.col-sm-10
          = f.button :submit, t(:signin), input_html: { class: 'btn btn-primary'  }
