.list-group
  = render partial: "shared/doctor_list_box", collection: @doctors, as: :doctor

- unless @doctors.empty?
  = paginate @doctors, :remote => true
- else
  .alert.alert-warning{ :role => "alert"}
    = t(:search_not_found, keyword: params[:keyword])