%h1= t('.search_doctor')
.row
  .col-lg-12
    = form_tag(path_to_search, {:method => 'get', remote: true}) do
      .input-group
        = text_field_tag :keyword, params[:keyword], class: 'form-control'
        %span.input-group-btn
          %button.btn.btn-default{type: "submit"}
            = t :search

#results
