%table.table.table-user-information
  %tbody
    %tr
      %td
        %p
          %b#field= @doctor.field.name
    %tr
      %td{:id => "description", "data-type" => "textarea", "data-url" => "/dashboard/profile/update_field", "data-pk" => @user.id, "data-name" => "description"}= @doctor.description
      %td 
        %a#edit-description{:href => "#"}
          %i.fa.fa-pencil
    %tr
      %td
    %tr
      %td{:id => "address", "data-url" => "/dashboard/profile/update_field", "data-pk" => @user.id, "data-name" => "address"}= @doctor.address
      %td
        %a#edit-address{:href => "#"}
          %i.fa.fa-pencil
    %tr
      %td{:id => "phone", "data-url" => "/dashboard/profile/update_field", "data-pk" => @user.id, "data-name" => "phone"}= @doctor.phone
      %td
        %a#edit-phone{:href => "#"}
          %i.fa.fa-pencil