%table.table.table-user-information
  %tbody
    %tr
      %td{:id => "address", "data-url" => "/dashboard/profile/update_field", "data-pk" => @user.id, "data-name" => "address"}= @user.address
      %td
        %a#edit-address{:href => "#"}
          %i.fa.fa-pencil
    %tr
      %td{:id => "phone", "data-url" => "/dashboard/profile/update_field", "data-pk" => @user.id, "data-name" => "phone"}= @user.phone
      %td
        %a#edit-phone{:href => "#"}
          %i.fa.fa-pencil