= form_for(@doctor) do |f|
  - if @doctor.errors.any?
    #error_explanation
      %h2
        = pluralize(@doctor.errors.count, "error")
        prohibited this doctor from being saved:
      %ul
        - @doctor.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
