%p.lead Profil
.row
  .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.toppad
    .panel.panel-info#profil-head
      .panel-heading
        .row
          .col-xs-10
            %h3.panel-title{:id => "name", "data-url" => "/dashboard/profile/update_field", "data-pk" => @user.id, "data-name" => "name"}= @user.name
          .col-xs-2
            %a#edit-name{:href => "#"}
              %i.fa.fa-pencil
      .panel-body
        .row
          .col-md-3.col-lg-3{:align => "center"}
            = image_tag current_user.avatar.url(:thumb)
          .col-md-9.col-lg-9#profile-detail
            = render :partial => default_profile_info

:coffee
$(document).ready ->
  
  #toggle `popup` / `inline` mode
  $.fn.editable.defaults.mode = "inline"
  $.fn.editable.defaults.ajaxOptions = {type: "PUT", dataType: 'json'}
  #make name editable
  $("#edit-name").click (e) ->
    $("#name").editable "enable"
    e.stopPropagation()
    $("#name").editable "toggle"
    $("#edit-name").hide()
    false


  $("#name").on "hidden", (e, reason) ->
    $("#name").editable "disable"
    $("#edit-name").show()
    false

  $("#edit-address").click (e) ->
    $("#address").editable "enable"
    e.stopPropagation()
    $("#address").editable "show"
    $("#edit-address").hide()
    false

  $("#address").on "hidden", (e, reason) ->
    $("#address").editable "disable"
    $("#edit-address").show()
    false

  $("#edit-phone").click (e) ->
    $("#phone").editable "enable"
    e.stopPropagation()
    $("#phone").editable "show"
    $("#edit-phone").hide()
    false

  $("#phone").on "hidden", (e, reason) ->
    $("#phone").editable "disable"
    $("#edit-phone").show()
    false

  $("#edit-description").click (e) ->
    $("#description").editable "enable"
    e.stopPropagation()
    $("#description").editable "show"
    $("#edit-description").hide()
    false

  $("#description").on "hidden", (e, reason) ->
    $("#description").editable "disable"
    e.stopPropagation()
    $("#edit-description").show()
    false
    
  
  return



                  
        