%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.input :password, :autocomplete => "off"
  = f.input :password_confirmation
  = f.input :current_password
  = f.button :submit, "Update", input_html: { class: 'btn btn-primary' }

