.well
  - if @roles.include? User.role_types[:doctor]
    = link_to t(:doctor), dashboard_doctor_path

  - if @roles.include? User.role_types[:patient]
    = link_to t(:patient), dashboard_patient_path
