.row
  .col-md-5
    .wrapper
      = button_to "Jadwal baru", dashboard_schedules_new_path, class: "btn btn-primary btn-lg", :method => :get
    %br
    = render 'schedules/shared/calendar'
  .col-md-7
    %div#schedules{:style => "width: auto; height: 500px; overflow-y: scroll;"}
      = render 'schedules/shared/schedules'
    %br
#schedule_details

