$('#schedules').html( "<%= escape_javascript render(partial: 'schedules/shared/schedules') %>" );
$('#schedule_details').html( "<%= escape_javascript render(:partial => 'schedules/shared/schedule_detail', :locals =>{ :schedule => @schedule_child } ) %>" );
