.list-group-item
  .row
    .col-md-3
      %img{:alt => "User Pic", :src => "https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"}/
    .col-md-7
      = doctor.full_name
      %br= doctor.field.name
    .col-md-2
      = link_to path_to_doctor_schedule(doctor) do
        .btn.btn-success
          = t '.view_schedules'