
= simple_form_for(@schedule_child, :url => {:action => "update"}) do |f|
    = f.input :title, input_html: {value: @schedule_child.title}
    = f.input :start_time, as: :datetime_picker
    = f.input :end_time, as: :datetime_picker
    = f.input :postponed_for, collection: ScheduleChild.postponed_fors.map { |k, v| [k.humanize, k] }, :selected => @schedule_child.postponed_for
    = f.input :location_id, collection: Location.where("doctor_id = ?", current_user.id)
    = f.input :limit
    = f.input :note, as: :text
    .col-sm-offset-3.col-sm-10
        = submit_tag "Update This Schedule Only", :name => 'update_single_schedule', :class => 'update-schedule btn btn-default'
        = submit_tag "Update All Future Schedules", :name => 'update_all_schedule', :class => 'update-schedule btn btn-primary update-schedule'
        = link_to 'Cancel', dashboard_schedules_path
        
