- if @patient.empty?
  %tr 
    %td{:colspan => 6, :align => "center"}
      %font{:color => "red"} You have no patient for this schedule
- else
  - @patient.each_with_index do |patient, i|
    %tr.numbered_row
      %td.seq=  i + 1
      %td= patient.name
      %td= patient.phone