.panel.panel-primary
  .panel-body
    .row
      .col-xs-6.col-sm-6.col-md-6
        %p= l(appointment.schedule_child.start_time, format: :long) + " - " + l(appointment.schedule_child.end_time, format: :long)
        %p= appointment.schedule_child.doctor.full_name
        %p= appointment.schedule_child.doctor.field.name
      .col-xs-6.col-md-6
        %span.glyphicon.glyphicon-user.pull-right{aria: {:hidden => "true"}}
          = appointment.schedule_child.patient_queues.count
        %p= appointment.schedule_child.title
        %p= appointment.schedule_child.location.street
        %p= appointment.schedule_child.location.phone
        = link_to "Bukti Antrean", dashboard_appointments_detail_path(appointment), class: "btn btn-primary"
        = link_to "Batalkan", '#', class: "btn btn-primary"