%h1= t :appointments
= render partial: 'patient_queues/appointments/appointment', collection: @appointments
- unless @appointments.empty?
  = paginate @appointments
- else
  .alert.alert-warning{ :role => "alert"}
    = t(:empty_data, resource: t(:appointments))