%h1= t('.verified')
%h2= t('.congratulation')  + current_user.title + " " + current_user.name
%p{"align" => "justify"}= t('.message_success')
.wrapper
  = button_to t('.tutorial'), '#', class: "btn btn-primary", :method => :get
  atau
  = button_to t('.use_now'), dashboard_doctor_path, class: "btn btn-warning", :method => :get