%h1= t('.welcome')
%p{"align" => "justify"}= t('.message')
%br
%p{"align" => "justify"}= t('.additional')
.wrapper
  = button_to t('.now'), dashboard_settings_verifications_stepone_path, class: "btn btn-primary", :method => :get
