%h1= t('.verification')
.progress
  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar", :style => "width: 0%;"}
    %span.sr-only 0% Complete

%p.lead
  %b 1. #{t('.identity')}
= simple_form_for @doctor, html: {multipart: true}, :url => dashboard_profile_update_field_path, :method => 'put' do |f|
  = f.input :verification_photo
  = f.input :title
  = f.association :field
  .col-sm-offset-3.col-sm-10
    = f.button :submit, "Submit!", input_html: { class: 'btn btn-primary' }
    



