.panel.panel-primary{id: "appointment-#{schedule.id}"}
  .panel-body
    .row
      .col-xs-9.col-sm-6.col-md-9
        %p= schedule.title
        %p= l(schedule.start_time, format: :long) + " - " + l(schedule.end_time, format: :long)
        %p= schedule.location.street
      .col-xs-3.col-md-3
        %span.glyphicon.glyphicon-user{aria: {:hidden => "true"}}
          = schedule.patient_queues.count
        = button_to t('.signup_queue'), dashboard_appointments_path(schedule_child_id: schedule.id), {remote: true, class: "btn btn-primary"}