= render partial: 'schedule_children/doctor/schedule', collection: @schedule_collection
- if @schedule_collection.empty?
  .alert.alert-warning{ :role => "alert"}
    = t(:empty_data, resource: Schedule.model_name.human)