.row
  .col-md-8
    .panel.panel-info
      .panel-heading
        %h3.panel-title= @doctor.full_name
      .panel-body
        .row
          .col-md-3.col-lg-3{:align => "center"}
            %img{:alt => "User Pic", :src => "https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"}/
          .col-md-9.col-lg-9
            = @doctor.field.name
            #favorite-button
              = display_favorite_button @doctor.id, current_user.id
    %h2 Jadwal
    #schedules
      = render 'schedule_children/doctor/schedules'
  
  .col-md-4
    = render 'schedule_children/doctor/calendar'