= simple_form_for @location, :url => dashboard_locations_path,
    :method => 'post' do |f|
  = f.input 	  :name
  = f.input 	  :street
  = f.association :province,   collection: Province.all.order(:name), include_blank: true, input_html: {id: 'province_select'}
  = f.input 	  :regency_id, collection: Province.order(:name), as: :grouped_select, group_method: :regencies, include_blank: true, input_html: {id: 'regency_select'}
  = f.input     :phone
  = f.input     :origin, as: :hidden, :input_html => { :value => get_origin_value }
  .col-sm-offset-3.col-sm-10
    = f.button :submit, "Submit!", input_html: { class: 'btn btn-primary' }
    - unless is_from_settings?
      = link_to 'Cancel', dashboard_locations_path
