%p.lead #{t('.list')} #{link_to content_tag(:i, nil, class: 'fa fa-plus'), new_dashboard_location_path}
- if @locations.empty?
  %h1
    %i.fa.fa-info-circle.fa-5x
  %h2= t('.no_data')
  %h2= t('.suggest')
- else
  - @locations.each do |location|
    .panel.panel-primary{:id => "panel_#{location.id}"}
      .panel-body
        .row
          .col-xs-10.col-sm-6.col-md-10
            %p= location.name
          .col-xs-2.col-md-2
            = link_to content_tag(:i, nil, class: 'fa fa-pencil fa-2x'), edit_dashboard_location_path(location.id)
            - concat " | "
            = link_to content_tag(:i, nil, class: 'fa fa-remove fa-2x'), dashboard_location_path(location.id), :method => 'delete', data: { :confirm => 'Anda yakin' }
        %p= location.street
        %p= location.regency.name + ', ' + location.name
        %p= location.phone
  

