- if current_user.valid_doctor?
  %h1= t('.new_location')
  .progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%;"}
      %span.sr-only 0% Complete
  = render 'form'
- else 
  :coffee
    window.location.href="/dashboard/settings/verifications"
  

