%header
  %nav.navbar-default.navbar.navbar-fixed-top.navbar-header{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{:type => "button", data: {:toggle => "collapse", :target => ".navbar-collapse"}}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag('logo.jpg', height: '32'), home_path, id: "logo", class: "navbar-brand"

      .navbar-collapse.collapse
        %ul.nav.navbar-nav.pull-right
          - if user_signed_in?
            = link_to image_tag(current_user.avatar.url(:thumb), height: '32'), home_path, id: "logo"
            %li.dropdown
              %a.dropdown-toggle#username-dropdown{"data-toggle" => "dropdown", :href => "#"}
                = content_tag(:i, nil, class: 'fa fa-gear')
                %span.caret
              %ul.dropdown-menu.pull-right{:role => "menu"}  
                %li= link_to t(:faq_n_tutorial), '#'
                %li= link_to t(:setting), dashboard_settings_path
                %li= role_switcher_menu
                %li.divider
                %li= link_to t(:signout), destroy_user_session_path, :method => :delete
          - else
            %li= link_to t(:signup),  new_user_registration_path
            %li= link_to t(:signin),  new_user_session_path
