%ul.nav.nav-sidebar
  %li{ :class => current_page(dashboard_settings_password_path) }
    = link_to t(:change_password), dashboard_settings_password_path
  - if current_user.is_only_patient?
    %li{ :class => current_page(dashboard_settings_verifications_path) }
      = link_to t(:upgrade_to_doctor), dashboard_settings_verifications_path