%ul.nav.nav-sidebar
  %li{ :class => current_page(dashboard_profile_path) }
    = link_to t(:profile), dashboard_profile_path
  %li{ :class => current_page(dashboard_locations_path) }
    = link_to Location.model_name.human, dashboard_locations_path
  %li{ :class => current_page(dashboard_schedules_path) }
    = link_to Schedule.model_name.human, dashboard_schedules_path
