%ul.nav.nav-sidebar
  %li{ :class => current_page(dashboard_profile_path) }
    = link_to t(:profile), dashboard_profile_path
  %li{ :class => current_page(dashboard_favorites_path) }
    = link_to Favorite.model_name.human, dashboard_favorites_path
  %li{ :class => current_page(dashboard_search_path) }
    = link_to t(:searching), dashboard_search_path
  %li{ :class => current_page(dashboard_appointments_path) }
    = link_to t(:appointments), dashboard_appointments_path