!!!
%html
  %head
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick", "data-turbolinks-track" => true
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  %body
    = render 'layouts/header'
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          = render active_sidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          - if notice
            .alert.alert-success.alert-dismissible{:role => "alert"}
              %button.close{:type => "button", data: {:dismiss => "alert"}}
                %span{"aria-hidden" => "true"}
                  &times;
                %span.sr-only
                  Close
              = notice
          - if alert
            .alert.alert-danger.alert-dismissible{:role => "alert"}
              %button.close{:type => "button", data: {:dismiss => "alert"}}
                %span{"aria-hidden" => "true"}
                  &times;
                %span.sr-only
                  Close
              = alert
          = yield
      - if Rails.env.development?
        / = console
