%h2
  #{t('.edit')}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.input :password, :autocomplete => "off"
  = f.input :password_confirmation
  = f.input :current_password
  .col-sm-offset-3.col-sm-10
    = f.button :submit, "Update", input_html: { class: 'btn btn-primary' }

