.row
  .col-md-6.col-md-offset-3
    .well
      %h2{:align => "left"}
        = t(:registration)
      %hr
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = f.input  :name, placeholder: User.human_attribute_name(:name), autofocus: true
        = f.input  :email, placeholder: User.human_attribute_name(:email)
        = f.input  :password, placeholder: User.human_attribute_name(:password)
        = f.input  :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation)
        = f.input  :phone, placeholder: User.human_attribute_name(:phone_number)
        = f.input  :address, placeholder: User.human_attribute_name(:address)
        .col-sm-offset-3.col-sm-10
          = f.button :submit, t(:register), input_html: { class: 'btn btn-primary' }
